//font family
$family: 'Heebo', sans-serif;

// colors
$white: #fff;
$second-bg: #F3F3F3;
$third-bg: #EAEAEA;
$section-bg: #E5E5E5;
$box-bg: #222B34;
$blue: #2F80ED;
$s-blue: #024dbc;
$title-c: #323450;
$sky-c: #D5E6FB;
$social-bg: #A5C5F1;
$border-c: #585978;
$grey-c: #757575;
$text-c: #585978;
$link-c: #585978;